* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  height: 10vh;
  background-color: #20eef5;
  border-bottom: 3px solid red;
  display: table;
  width: 100%;
  clear: both;
  color: white;
}

.navTitle {
  height: 10vh;
  float: left;
  display: table;
  margin-left: 20%;
}

.navLinks {
  height: 10vh;
  display: table;
  margin-right: 20%;
  float: right;
}

.navLink {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: white;
}

.title {
  display: table-cell;
  vertical-align: middle;
}

main {
  min-height: 80vh;
  background-color: rgb(230, 230, 230);
}

footer {
  height: 10vh;
  background-color: #20eef5;
  border-top: 3px solid red;

}

main {
  position: relative;
}

.container {
  background-color: blue;
  border: 12px solid #B22222;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container2 {
  background-color: pink;
  width: 80%;
  height: 50%;
  position: absolute;
  top: 33%;
  left: 605px;
  transform: translate(-50%, -50%);
}

.containerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerText2 {
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  background-color: blue;
  left: 50px;
  font-weight: bold;
  color: #20eef5;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  color:black;
  font-size: 18px;
}